<style>
.table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 6px 7px;
    vertical-align: middle;
}
</style>

<div class="row">
    <div class="col-md-12">
      <div class="card" style="color: black">
        <form style="padding: 10px 10px 10px 10px;color:black">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">UMR</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Patient Name</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="inputCity">Age</label>
                <input type="text" class="form-control" id="inputCity">
              </div>
              <div class="form-group col-md-2">
                <label for="inputState">Gender</label>
                <select id="inputState" class="form-control" style="padding: 1px 1px 1px 1px;">
                  <option selected>Choose...</option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Height</label>
                <input type="text" class="form-control" id="inputZip">
              </div>
              <div class="form-group col-md-2">
                  <label for="inputZip">Weight</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
            </div>
          
            <button type="submit" class="btn btn-primary">Compute</button>
          </form>

</div>
</div></div>  

<!---
<div class="card col-md-5" >
   
    <div class="card-body">
      <h5 class="card-title">BMI Calculator</h5>
    <div class="row"><div>Weight</div><div>ABC</div></div>
    <div class="row">Height</div>
    <div class="row">BMI Result</div>
    <div class="row">Ideal BMI</div>
    <div class="row">Required Weight</div>
    <div class="row">Required Weight Change</div>
    <div class="row">Change Percentage</div>
    <div class="row"><div class="col-sm-18">Ideal Calories Per Body Weight</div><div class="col-sm-4">333</div></div>
    <div class="row">Total Required Calories</div>
    <div class="row">Required Protein(1.5 grms/kg)</div>
    <div class="row">Required Protein(1.2 grms/kg)</div>
    <div class="row">Required Protein(1.0 grms/kg)</div>
    </div>
    
  </div>
-->
<div class="row">
<div class="col-md-4">
  <div class="card">
      <div class="card-header"><b>BMI Calculator</b></div>
   
      <table class="table table-bordered">
      
          <tbody>
              <tr>
                  <td>Weight</td>
                  <td>10</td>                  
              </tr>
              <tr>
                  <td>Height</td>
                  <td>10</td>                  
              </tr>
              <tr><td>BMI Result</td><td>10</td></tr>
              <tr><td>Ideal BMI</td><td>10</td></tr>
              <tr><td>Required Weight</td><td>10</td></tr>
              <tr><td>Required Weight Change</td><td>10</td></tr>
              <tr><td>Change Percentage</td><td>10</td></tr>
             

              <tr>
                  <td>Ideal Calories Per Body Weight</td>
                  <td>10</td>                  
              </tr>
              <tr>
                  <td>Total Required Calories</td>
                  <td>10</td>                  
              </tr>
              <tr>
                  <td>Required Protein(1.5 grms/kg)</td>
                  <td>10</td>                  
              </tr>
              <tr>
                  <td>Required Protein(1.2 grms/kg)</td>
                  <td>10</td>                  
              </tr>
              <tr>
                  <td>Required Protein(1.0 grms/kg)</td>
                  <td>10</td>                  
              </tr>
              
          </tbody>
      </table>
   
  </div>


</div>


<div class="row col-md-8" style="height: 200px">
    <div class="card">
        <table class="table table-bordered">
      
            <tbody>
                <tr>
                    <td colspan="3"><b>Recommended Dietiery Allowances - 50%</b></td>
                    <td colspan="2"><b>75%</b></td>
                    <td colspan="2"><b>100%</b></td>
                    
                </tr>
                <tr>
                    <td></td>
                    <td>Calories</td>
                    <td>Grams</td>
                    <td>Calories</td>
                    <td>Grams</td>
                    <td>Calories</td>
                    <td>Grams</td>
                </tr>
                <tr>
                    <td>Total Calories</td>
                    <td>800</td>
                    <td></td>
                    <td>800</td>
                    <td></td>
                    <td>800</td>
                    <td></td>
                                  
                </tr>
                <tr>
                    <td>Protein</td>
                    <td>800</td>
                    <td>100</td>
                    <td>800</td>
                    <td>100</td>
                    <td>800</td>
                    <td>100</td>
                             
                </tr>
                <tr>
                    <td>Carbohydrate</td>
                    <td>800</td>
                    <td>100</td>
                    <td>800</td>
                    <td>100</td>
                    <td>800</td>
                    <td>100</td>
                                   
                </tr>
                <tr>
                    <td>Fat</td>
                    <td>800</td>
                    <td>100</td>
                    <td>800</td>
                    <td>100</td>
                    <td>800</td>
                    <td>100</td>
                               
                </tr>
      </tbody></table>  


      </div></div>

    </div>

