
<div style="color: black">
        <div class="form-group row" style="margin-left:570px">
            <input type="text" class="form-control col-sm-4" (keyup)="onQuickFilterChanged()" 
            [(ngModel)]="quickSearchValue" placeholder="quick filter..." /> &nbsp;&nbsp;
          <button type="button" class="btn btn-success" (click)="enableModuleDiv()">
              <span class="glyphicon glyphicon-plus"></span> Add Role
            </button>
            <!--<button type="button" class="btn btn-info" (click)="updateItems()">
              <span class="glyphicon glyphicon-pencil"></span> Update
            </button>
            <button type="button" class="btn btn-danger" (click)="onRemoveSelected()">
              <span class="glyphicon glyphicon-trash"></span> Delete
            </button>-->
        </div>
        <div class="form-group row">
        <ag-grid-angular 
            style="width: 820px; height: 200px;" 
            class="ag-theme-fresh"
            [enableSorting]="true"
            [enableFilter]="true"
            [rowData]="rowData" 
            [pagination]="true"
            [paginationPageSize]="6"
            rowSelection="single"           
            (rowClicked)='onRowClicked($event)'
            enableColResize
            (gridReady)="onGridReady($event)"
            [columnDefs]="columnDefs">
        </ag-grid-angular>
        </div>
          <div class="module card" *ngIf="showModuleDiv">
            
            <form [formGroup]="appForm" class="form-group" (ngSubmit)="login()" class="border rounded" style="padding: 10px 10px 10px 10px">
          
        <div class="form-group row"><label for="inputEmail4" class="col-sm-2">Role Name</label> 
            <div class="col-sm-4"> <input class="form-control" type="moduleName" placeholder="" formControlName="role_name"></div>
            <div class="col-sm-6" style="text-align: end;" *ngIf="delshow">
              <button type="button" class="btn-danger" (click)="deleteData()">
                       Delete
                    </button>
         
                  </div> 
          
          </div>
            <div class="form-group row"><label for="inputEmail4" class="col-sm-2">Support Notes</label> 
                <div class="col-sm-4">    <input class="form-control" type="supportNotes" placeholder="" formControlName="support_notes"></div>
            </div>
        <div class="form-group row">
                <label for="inputEmail4" class="col-sm-2">Association</label> 

            <div class="association form-control">
                    <div *ngFor="let m of modulesData" style=" float:left; position:relative;padding-left: 5px">
                          <div *ngIf="m.checked">  <input type="checkbox" id="{{m.module_key}}" checked (change)="chkboxHandle(m)"> {{m.module_name | uppercase}}</div>
                          <div *ngIf="!m.checked">  <input type="checkbox" id="{{m.module_key}}" (change)="chkboxHandle(m)"> {{m.module_name | uppercase}}</div>
                     </div>
                
            </div>
        </div>
              <div class="col-sm-2">
                    <button type="button" class="{{ buttonClass }}" (click)="addData()">
                             {{buttonText}}
                          </button>
               
                        </div>
            </form>
          </div>
        </div>
        
        