<style>

    input{border:0px solid #000; margin:0; background:transparent; width:100%}
    table tr td{border-right:1px solid #000; border-bottom:1px solid #000;}
    table{background: #fff none repeat scroll 0 0;
        border-left: 1px solid #000;
        border-top: 1px solid #000;}
        table tr th{background: #9ca5d0;}
        table tr:nth-child(even){background:#dcdfec;}
        table tr:nth-child(odd){background:#f3f4f9;}
        .table-bordered th, .table-bordered td {    border: 1px solid #000000;}
        .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 0px;
        vertical-align: middle;    
    }
   input { line-height: 25px;}
   
    </style>
    
    <div class="row">
      
      <div class="col-md-12">
        <div class="card">          
          <div class="">
<div *ngFor="let dct of dietChartTypes; let r = index;">
<igx-expansion-panel>
  <igx-expansion-panel-header>
    <igx-expansion-panel-title>
        {{dct.heading}} 
    </igx-expansion-panel-title>
    <igx-expansion-panel-description>
        {{dct.time}}
    </igx-expansion-panel-description>
</igx-expansion-panel-header>
<igx-expansion-panel-body>
  <igx-tabs>
    <igx-tabs-group *ngFor="let dcOption of dietCharts.options; let j = index;"  label={{dcOption.opHeader}}>
      <table class="table table-bordered">
        <tbody style="font-size: 12px">
          <tr ng-if="j == 1">
            <th style="width: 160px;">Food Type </th>
            <th colspan="4" style="text-align:center">Rcmd Qty&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Protein(g)</th>
            <th>C.H.(g)</th>
            <th>Fat(g)</th>
            <th>K.Cal</th>
            <th>ReferenceCal</th>
            <th>Total K.Cal</th>
          </tr>
          <tr  *ngFor="let opRow of dcOption.optionRows; let k = index;">
<td>
            <div class="ng-autocomplete" style="width: 160px;">
            <input type="text"  [ngModel]='a.get("r"+r+"o"+j+"r"+k+"c11")'  list="dynmicUserIds"  (change)="onProductChanged($event,r,j,k)"/>
<datalist id="dynmicUserIds">
   <option *ngFor="let item of items">{{item.food_item}}</option>
</datalist>
            
          

       
           </div>
          
          </td>

<td><input type="text" [ngModel]='a.get("r"+r+"o"+j+"r"+k+"c12")'/></td>
<td><input type="text" [ngModel]='a.get("r"+r+"o"+j+"r"+k+"c13")' (change)="onRQChanged($event,r,j,k)"/></td>
            <td *ngFor="let opCol of opRow.optionCols; let l = index;" [attr.rowspan]="opCol.rs">
              <input type="text" [ngModel]='a.get("r"+r+"o"+j+"r"+k+"c"+l)' (ngModelChange)='a.set("r"+r+"o"+j+"r"+k+"c"+l, $event)'/>
            </td>
            
           
                      

          </tr>
         </tbody>
      </table>
      </igx-tabs-group>
  </igx-tabs>
</igx-expansion-panel-body>
</igx-expansion-panel>
</div>    


           
          </div>
        </div>
      </div>
    </div>
    