
        .igx-expansion-panel__header{
            border-bottom: 1px solid #999999;
            background: #c8cbd4;
        }
     

        .igx-tabs__group{
            padding:2%;
        }
        .ta-results.list-group{
            max-width: 400px;
            overflow: auto;
            max-height: 75vh;
            border: 1px solid #ccc;
        }
        .typeahead-wrap .list-group-item {    
            width:100%;
            text-align: left;
            position: relative;
            display: block;
            padding: 5px 10px;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,.125);
        }
         
        .typeahead-wrap .list-group-item{
            width:100%;
            text-align: left;
        }
        .typeahead-wrap .list-group-item.active{
            background-color: #ccc;
        }
         
        .typeahead-wrap .list-group-item .item-name {
            font-weight: bold;
        }
/*
        table {
            *border-collapse: collapse; 
            border-spacing: 0;
            background-color:#FFFFFF;
          }
        th:first-child {
            border-radius: 6px 0 0 0;
          }
        
          th:last-child {
            border-radius: 0 6px 0 0;
          }
        
          th:only-child{
            border-radius: 6px 6px 0 0;
          }
          .bordered tr:hover {
            background: #fbf8e9;
            transition: all 0.1s ease-in-out;
          }
          .table > tbody > tr > td{
        padding: 2px 2px 9px 8px;
        font-size: 0.8571em;
        
          }
          table.roundedCorners { 
            border: 1px solid white;
            border-radius: 13px; 
            border-spacing: 0;
            }
      */


      