
<div style="color: black">
            <div class="form-group row" style="margin-left:530px">
            <input type="text" class="form-control col-sm-4" (keyup)="onQuickFilterChanged()" 
            [(ngModel)]="quickSearchValue" placeholder="quick filter..." /> &nbsp;&nbsp;
          <button type="button" class="btn btn-success" (click)="enableModuleDiv()">
              <span class="glyphicon glyphicon-plus"></span> Add Item
            </button>
            <!--<button type="button" class="btn btn-info" (click)="updateItems()">
              <span class="glyphicon glyphicon-pencil"></span> Update
            </button>
            <button type="button" class="btn btn-danger" (click)="onRemoveSelected()">
              <span class="glyphicon glyphicon-trash"></span> Delete
            </button>-->
        </div>
        <div class="form-group row" style="margin-left: 0px;">
        <ag-grid-angular 
            style="width: 955px; height: 200px;" 
            class="ag-theme-fresh"
            [enableSorting]="true"
            [enableFilter]="true"
            [rowData]="rowData" 
            [pagination]="true"
            [paginationPageSize]="6"
            rowSelection="single"    
            (rowClicked)='onRowClicked($event)'
            enableColResize
            (gridReady)="onGridReady($event)"
            [columnDefs]="columnDefs">
        </ag-grid-angular>
        </div>
          <div class="module card" *ngIf="showModuleDiv">
            
            <form [formGroup]="appForm" class="form-group" (ngSubmit)="login()" class="border rounded" style="padding: 10px 10px 10px 10px">
          
        <div class="form-group row"><label for="inputEmail4" class="col-sm-2">Food Item</label> 
            <div class="col-sm-4"> <input class="form-control" type="moduleName" placeholder="" formControlName="food_item"></div>
           
            <div class="col-sm-6" style="text-align: end;" *ngIf="delshow">
              <button type="button" class="btn-danger" (click)="deleteData()">
                       Delete
                    </button>
         
                  </div>
          
          </div>
            <div class="form-group row"><label for="inputEmail4" class="col-sm-2">Quantity</label> 
                <div class="col-sm-2">    <input class="form-control" type="supportNotes" placeholder="" formControlName="quantity"></div>
                <div class="col-sm-2"> 
                <select id="inputState1" formControlName="quantity_measure" class="form-control" style="padding: 1px 1px 1px 1px;">
                                  
                        <option selected>Cup</option>
                        <option>Bowl(s)</option>
                        <option>Piece(s)</option>
                        <option>Glass</option>
                        <option>Tbsp</option>
                        <option>No(s)</option>
                        <option>ml</option>
                        <option>Gram(s)</option>
                      </select></div>
                
            </div>
            <div class="form-group row"><label for="inputEmail4" class="col-sm-2">Raw Weight</label> 
                <div class="col-sm-2">    <input class="form-control" type="supportNotes" placeholder="" formControlName="raw_weight"></div>
                
                <div class="col-sm-2"> 
                        <select id="inputState2" class="form-control" formControlName="weight_measure" style="padding: 1px 1px 1px 1px;">
                                          
                                <option selected>Gram(s)</option>
                                <option>ml</option>
                               
                                
                              </select></div>
            </div>
       
            
            <div class="form-group row"><label for="inputEmail4" class="col-sm-2">Protein</label> 
                <div class="col-sm-2"> <input class="form-control" type="moduleName" placeholder="" formControlName="protein"></div>
                <label for="inputEmail4" class="col-sm-2">Carbohydrate</label>     
                <div class="col-sm-2"> <input class="form-control" type="moduleName" placeholder="" formControlName="carbohydrates"></div>
            </div>
           
            <div class="form-group row"><label for="inputEmail4" class="col-sm-2">Fat</label> 
                <div class="col-sm-2"> <input class="form-control" type="moduleName" placeholder="" formControlName="fat"></div>
                <label for="inputEmail4" class="col-sm-2">Calorie</label>     
                <div class="col-sm-2"> <input class="form-control" type="moduleName" placeholder="" formControlName="calorie"></div>
            </div>

            <div class="form-group row"><label for="inputEmail4" class="col-sm-2">Fiber</label> 
                <div class="col-sm-2"> <input class="form-control" type="moduleName" placeholder="" formControlName="fiber"></div>
                <label for="inputEmail4" class="col-sm-2">Type</label>     
                <div class="col-sm-2"> 
                               
                                <select id="inputState" class="form-control" formControlName="food_type" style="padding: 1px 1px 1px 1px;">
                                  
                                  <option selected>Veg</option>
                                  <option>Non Veg</option>
                                </select>
                </div>
            </div>
            <div class="form-group row"><label for="inputEmail4" class="col-sm-2">Location</label> 
              
                <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="defaultInline1" formControlName="location_preference_n">
                        <label class="custom-control-label" for="defaultInline1">North India</label>
                      </div>
                      
                      <!-- Default inline 2-->
                      <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="defaultInline2" formControlName="location_preference_s">
                        <label class="custom-control-label" for="defaultInline2">South India</label>
                      </div>
                                      
            </div>
            <div class="form-group row"><label for="inputEmail5" class="col-sm-2">Ref Item?</label> 
              
                <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="defaultInline3" (click)="cclick('y')" name="abc" formControlName="is_ref_y">
                        <label class="custom-control-label" for="defaultInline3">Yes</label>
                      </div>
                      
                      <!-- Default inline 2-->
                      <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" id="defaultInline4" (click)="cclick('n')" name="abc" formControlName="is_ref_n">
                        <label class="custom-control-label" for="defaultInline4" >No</label>
                      </div>
                                      
            </div>


           
              <div class="col-sm-2">
                    <button type="button" class="{{ buttonClass }}" (click)="addData()">
                             {{buttonText}}
                          </button>
               
                        </div>
            </form>
          </div>
        </div>
        
        