/*table {
  
    border-spacing: 0;
    background-color:#FFFFFF;
  }
th:first-child {
    border-radius: 6px 0 0 0;
  }

  th:last-child {
    border-radius: 0 6px 0 0;
  }

  th:only-child{
    border-radius: 6px 6px 0 0;
  }
  .bordered tr:hover {
    background: #fbf8e9;
    transition: all 0.1s ease-in-out;
  }
  .table > tbody > tr > td{
padding: 2px 2px 9px 8px;
font-size: 0.8571em;

  }
  table.roundedCorners { 
    border: 1px solid white;
    border-radius: 13px; 
    border-spacing: 0;
    }
*/
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 3px 3px;
    vertical-align: middle; 
}
.table1 > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 2px 2px;
    vertical-align: middle; 
}
.table-bordered td,th {
    border: 1px solid;
    
    border-color: darkmagenta;}
    .table-bordered {
    border: 1px solid;
    border-color: darkgray;}
